.amenity-box {
    &:nth-child(3) {
        margin-right: 0;
    }
    &:nth-child(4) {
        margin-bottom: 0;
    }
    &:nth-child(5) {
        margin-bottom: 0;
    }
    &:nth-child(6) {
        margin-right: 0;
        margin-bottom: 0;
    }
}